body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Arial, sans-serif;
  color: white;
}

nav {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  border-bottom: 0px solid black;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#menu-icon {
  cursor: pointer;
  transform: scale(0.5);
  margin: 0.1%;
  margin-left: -31%;
  margin-bottom: -2%;
}

.buttons-menu {
  display: none;
  position: fixed;
  top: 0.7%;
  left: 5%;
  z-index: 999;
}

.buttons-menu input {
  background-color: black;
  color: white;
  outline: 1px solid white;
  border-radius: 2px;
  margin-left: 18px;
  height: 20px;
}

.buttons-menu input::placeholder {
  color: white;
}

.buttons-menu button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 3px;
  width: 102px;
  text-align: center;
}

.buttons-menu button.active {
  background-color: white;
  color: black;
}

.buttons-menu button.inactive {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  text-align: center;
  padding: 17px;
  border-top: 0px solid black;
  font-size: 14px;
}

footer a {
  color: gray;
}

footer span {
  color: gray;
}

#mapa {
  height: calc(98.2vh - 90px);
  width: 100%;
}

#layer-select, #measure-select {
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  margin-left: -14px;
  margin-right:14px
}
